<template>
	
</template>
<script>
	export default{
		props:[
			'path',
			'active'
		],
		data(){
			return{
				isActive: false
			}
		},
		created(){
			this.isActive = this.active;
		}
	}
</script>
<style>
	
</style>