<template>
	<div>
		<div class="tabs is-boxed">
			<ul>
				<li v-for="tab in tabs" :class="{ 'is-active': tab.isSelected }">
					<a :href="tab.href" @click="selectTab(tab)">
						{{ tab.name }}
					</a>
				</li>
			</ul>
		</div>

		<div class="tab-details">
			<slot></slot>
		</div>
	</div>

</template>

<script>

export default {
	data() {
		return {
			tabs: []
		}
	},
	methods: {
		selectTab(selectedTab){
			this.tabs.forEach(tab => {
				tab.isSelected = (tab.name == selectedTab.name)
			})
		}
	},
	created(){
		this.tabs = this.$children;
	}
}
</script>