<template>
	<div>
		<figure class="image is-16by9 gallery" @click.prevent="toggleActive()" v-if="activeVideo" >
			<img :src="activeVideo.thumbnail" >
		</figure>
		<div v-else>
			<div class="has-text-centered">
				There doesn't appear to be any videos submitted yet! <a href="#image">Be the first!</a>
			</div>
		</div>
		<div class="modal" :class="{ 'is-active': this.isActive }">
			<div class="modal-background"></div>
			<div class="modal-content level">
				<div class="level-left">
					<div class="level-item">
						<a @click.prevent="prev">
							<span class="icon">
								<i class="fa fa-chevron-left" aria-hidden="true"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="level-item">
					<figure class="image" style="max-height: 80vh; max-width: 80vw">
						<iframe width="560" height="315" :src="activeVideo.embed" frameborder="0" allowfullscreen></iframe>
					</figure>
				</div>					
				<div class="level-right">
					<div class="level-item">
						<a @click.prevent="next">
							<span class="icon">
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
			<button class="modal-close is-large"  aria-label="close" @click.prevent="toggleActive()">
				
			</button>
		</div>
		<slot></slot>
	</div>
</template>
<script>
	export default {
		data(){
			return {
				videos: [],
				isActive: false,
				activeVideo: {},
				index: 0
			}
		},
		computed:{
			reportPath(){
				return '/videos/' + this.activeVideo.id + '/report'
			}
		},
		methods: {
			toggleActive(){
				this.isActive = !this.isActive;
			},
			next(){
				this.index = (this.index + 1) % this.videos.length;
				this.activeVideo = this.videos[this.index];
			},
			prev(){
				this.index = this.index-1;
				if(this.index<0){
					this.index=this.images.length-1;
				}
				this.activeVideo = this.videos[this.index]
			}
		},
		mounted(){
			this.videos = this.$children;
			if(this.videos.length){
				this.activeVideo = this.videos[0];
			}
		}
	}
</script>
<style>
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		width: 90%;
		height: 0;
	}
	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>