
// Body
$body-bg: #f5f8fa;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$psdb-grey-dark: #222222;
$psdb-blue: #4d93cb;
$psdb-blue-light: #88b7dd;
$psdb-blue-lighter: #9AC2E2;
$psdb-gold: #F8D986;

$navbar-background-color: $psdb-grey-dark;
$navbar-height: 3rem;
$navbar-item-color: $psdb-blue;
$navbar-item-hover-color: $psdb-blue-light;
$navbar-item-hover-background-color: none;
$navbar-dropdown-arrow: $psdb-blue-lighter;

$breadcrumb-item-color: $psdb-blue;
$breadcrumb-item-hover-color: $psdb-blue-light;
$breadcrumb-item-separator-color: $psdb-blue-lighter;

$table-row-hover-background-color: $psdb-blue-lighter;
$table-row-active-background-color: $psdb-blue-light;

$link: $psdb-blue;

$tabs-link-color: $psdb-blue;
$tabs-link-hover-border-bottom-color: $psdb-blue-lighter;
$tabs-link-active-border-bottom-color: $psdb-blue;
$tabs-link-active-color: $psdb-blue;

$button-background-color: $psdb-blue;
$button-active-border-color: $psdb-blue-lighter;
$button-focus-border-color: $psdb-blue-lighter;

$modal-content-width: 90vw;